@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
    font-family: 'CharmingSixties';
    src: url(../../fonts/CharmingSixties.ttf);
}

@font-face {
    font-family: 'UnitedStencil';
    src: url(../../fonts/old_school_united_stencil.ttf);
}

@font-face {
    font-family: 'IBMPlexMono', monospace;
    src: url(../../fonts/IBMPlexMono-ExtraLight.ttf);
}

@font-face {
    font-family: 'CodeSaver';
    src: url(../../fonts/CodeSaver-Regular.otf)
}