@font-face {
    font-family: 'Poppins-Regular';
    src: url(../../fonts/Poppins-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'Prata-Regular';
    font-display: swap;
    src: url(../../fonts/Prata-Regular.ttf);
}