// COLOR PALETTE
$clr1: #113f67;
$clr2: #38598b;
$clr3: #a2a8d3;
$clr4: #e7eaf6;

$bgclr1: #113f67;

// LAYOUT
$layoutPadding: 30px;

// LAYOUT BREAKPOINTS
$break-narrow: 600px;
$break-normal: 860px;
$break-wide: 1200px;