.docs {
    background: rgba(245, 245, 245, 0.2);
    border-radius: 25px;
    margin: 0 auto;
    width: rem(940px);
    padding: 2em;
    font-family: poppins;
    margin-block-end: 1em;
    backdrop-filter: blur(5px);

    .title {
        font-size: rem(32px);
        font-family: poppins;
    }

    nav {
        display: flex;
        align-items: center;
        margin-block-end: 1em;

        .active {
            background: #8EAFCE;
        }

        a {
            color: whitesmoke;
            width: fit-content;
            display: flex;
            position: relative;
            padding: .5em;

            &:hover {
                background: #6A7987;
            }

            &::before {
                content: "";
                position: absolute;
                height: 2px;
                width: 0px;
                background-color: black;
                transition: width .5s;
                top: 0;
                left: 0;
            }

            &:hover {
                &::before {
                    content: "";
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    background-color: black;
                }
            }
        }
    }
}