.main-layout {
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;


  background: url("/paul-pastourmatzis-KT3WlrL_bsg-unsplash.jpg");
  background-color: #cccccc;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */

  main {
    flex: 1;
  }
  
  @include for-narrow-layout {
    // @include layoutGTC($break-narrow);
  }

  @include for-normal-layout {
    // @include layoutGTC($break-normal);
  }

  @include for-wide-layout {
    // @include layoutGTC($break-wide);
  }
}